.cursiva {
    font-style: italic;
}

html {
    height: 100%;
}

body {
    margin-top: 5em;
    background-color: rgb(191 195 237);
    min-height: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

div.container.container-principal {
    padding-bottom: 2.5rem;
    position: relative;
    min-height: 80vh;
}

#navbar-cabecera {    
   /* background: linear-gradient(0deg, rgba(73,86,199,1) 80%, hsla(234, 100%, 18%, 0.151) 100%);*/
   background-color: rgb(73, 86, 199);
}

footer {
    min-height:10vh;
}

#frmDatosUsuario {
    
background-color:rgb(164, 183, 235);
padding:4px;

}

#table-productos {
    max-width: 100%;
    font-size:15px;
}

#table-productos .tdDescripcion {
    width: 27%;
}

.imagenListadoProducto {
    width: 20em;
}

.divImagenEditarProducto {
    padding: 0px;
    margin: 0px;
    width: auto;
}

.rowImagenInputEditar {
    transform: scale(0.7);
    margin-left: -18%;
}

button#btnMostrarCambiarFoto {
    width: 10em;
}

#nuevaImagen {
    margin-left: -1em;
    width: 25em;
}

#selectCategoria {
    width: 8em;
}

#fieldSetMedidas {
    padding: 1em;
}

#divMedidas, #divCategoria {
    width: 10em;
}

#divPrecio {
    width: 12em;
}

#divPrecio #precioInput {
    width: 7em;
}

#divStock {
    width: 7em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#table-productos td, #table-productos th, #table-usuarios td, #table-usuarios th, #tablaCarrito td.centrado, #tablaCarrito th.centrado {
    vertical-align: middle;
    text-align: center;
}

#tablaCarrito .tdSinBordes {
    border: 0px;
}

div.alert {
    padding-top: 0px;
}

#detallesProducto label {
    font-weight: bold;
}

#detallesProducto .detallesCabecera {
    margin-bottom: 2em;
}

.cabeceraSeccion {
    margin-bottom: 2em;
}

#detallesProducto .btnGestion.btnDetallesDer {
    margin-left: 2em;
}

#containerListadoUsuarios input[type=text] {
    width: 100%;
}

#table-productos, #table-usuarios {
    margin-top: 5em;
}

#container-editar-categorias #selectCategorias {
    overflow-y: auto;
}

#container-editar-categorias .centro {
    margin-top: 2em;
}

#container-editar-categorias .centro button {
    margin-bottom: 1em;
    display: block;
}

#container-editar-categorias label {
    font-weight: bold;
}

#container-editar-categorias .encabezadoEditCategorias {
    margin-bottom: 1em;
}

#container-editar-categorias .espacioDatosCategoria, #container-editar-categorias #formularioCategorias {
    display:none;
}

#container-editar-categorias #fmCategorias .inputCategoria {
    width: 100%;
    margin-bottom: 1em;
    display: block;
}

#container-editar-categorias #fmCategorias label {
    margin-bottom: 1em;
}

#container-editar-categorias #primeraFila {
    height: 15em;
}
#container-editar-categorias #segundaFila {
    height: 14em;
    width: 50%;
}